<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.demo.app"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="chat.demo.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="chat.demo.app.permission.C2D_MESSAGE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
             android:name="br.com.medicalservices.app.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     <receiver
            android:name="br.com.medicalservices.app.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="chat.demo.app" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="br.com.medicalservices.app.AlarmReciever"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="br.com.medicalservices.app.GcmMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="br.com.medicalservices.app.IndividualChat"
            android:screenOrientation="portrait"
                       android:parentActivityName="br.com.medicalservices.app.MainActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>

        <activity
            android:name="br.com.medicalservices.app.MainActivity"
            android:label="Chats"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="br.com.medicalservices.app.GroupChatActivity"
            android:parentActivityName="br.com.medicalservices.app.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>
        <activity
            android:name="br.com.medicalservices.app.UserProfile"
            android:label="Profile" >
        </activity>

        <activity
            android:name="br.com.medicalservices.app.GroupInfo"
            android:label="Group Info"
            android:parentActivityName="br.com.medicalservices.app.MainActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>
        <activity
            android:name="br.com.medicalservices.app.UpdateGroup"
            android:label="@string/title_activity_update_group"
            android:screenOrientation="portrait"
              
            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>

                <activity
            android:name="br.com.medicalservices.app.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>
        <activity
            android:name="br.com.medicalservices.app.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>
        <activity
            android:name="br.com.medicalservices.app.UpdateProfile"
            android:label="@string/title_activity_update_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|stateHidden" >
        </activity>
    </application>

</manifest>
